<p>Vous venez de recevoir un mail depuis le formulaire de contact du site www.thibaultfiacre.fr.</p>

<p>Voici les informations du message :</p>

<p>Nom de l'auteur : {{ contact.name }}</p>
<p>Email de contact : {{ contact.email }}</p>
<p>Message : {{ contact.message }}</p>