/********** Polices **********/
@font-face {
    font-family: 'Agenda-Bold';
    src: url('../font/agenda/AgendaBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agenda-Medium';
    src: url('../font/agenda/AgendaMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agenda-Light';
    src: url('../font/agenda/AgendaLight.ttf');
    font-weight: normal;
    font-style: normal;
}

/********** Eléments de base **********/
body {
    font-family: 'Agenda-Light', 'Palatino Linotype', Arial, sans-serif;
    font-size: 1em;
}

.clickable-link, .clickable-link:hover {
    color: #138496;
}

/********** Barre du menu **********/
nav {
    background-color: #64bcc9;
    opacity: 0.7;
    z-index: 5;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: white !important;
}

nav:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.firstname {
    font-family: 'Agenda-Light';
    font-size: 1.2em;
    line-height: 1em;
}

.lastname {
    font-family: 'Agenda-Bold';
    font-size: 1.2em;
    line-height: 1em;
}

.logo-title {
    line-height: 0.8em;
    color: white !important;
}

.subtitle {
    font-size: 0.6em;
    line-height: 1em;
    color: white !important;
}


