/*****Carousel*****/
.carousel-caption {
	background-color: rgba(208, 230, 234, 0.75);
	left: 5%;
	bottom: 100px;
	text-align: left;
	color: black;
	max-width: 90%;
}

.carousel {
	width: 100%;
	position: absolute;
	top: 0;
}

.carousel-inner {
	max-height: 100%;
}

.carousel-item {
	height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-caroussel-caption {
	font-family: 'Agenda-Bold';
}

.text-caroussel-caption {
	font-family: 'Agenda-Medium';
}

.empty-div {
	width: 100%;
	height: 100vh;
	z-index: -2;
}

/*****Services*****/
.image-services {
	max-height: 80vh;
	max-width: 100%;
}

.bloc-services {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

.div-img-services {
	height: 100%;	
}

/*****Competences*****/
.bloc-competences {
	background-color: #d0e6ea; 
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

.icone-competence {
	width: 100%;
	border-radius: 10px;
}

.card-competence {
	background-color: white;
	width: 20%;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}

.title-competence {
	font-family: 'Agenda-Bold';
	max-width: 100%;
}

/*****Technologies*****/
.icone-technologie {
	width: 10%;
	margin: 1em;
}

.bloc-technologies {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

.bloc-icone-technologies {
	background-color: white;
	border-radius: 10px;
}

/*****Realisations*****/
.bloc-realisations {
	background-color: #d0e6ea;
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

.icone-realisation {
	width: 100%;
	margin: 0;
	padding: 0;
}

/*****Contact*****/
.bloc-contact {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

.formulaire {
	background-color: #d0e6ea; 
	border-radius: 10px;
}

.btn-info {
	background-color: #138496;
}

.btn-info:hover {
	background-color: #d0e6ea;
	color: black;
}

/*****Media Queries*****/
@media screen and (max-width: 992px) {
  .card-competence {
		width: 80%;
	}

	.icone-technologie {
		width: 25%;
		margin: 1em;
	}
}